<div class="container" (keyup.enter)="addItem()">
  <div class="wraper">
    <form [formGroup]="form" (ngSubmit)="addItem()">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>The Wish</mat-label>
        <input
          formControlName="title"
          matInput
          placeholder="Enter your wish to make it come true..."
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>The Link</mat-label>
        <input
          formControlName="link"
          type="url"
          matInput
          placeholder="the link please..."
          required
        />
      </mat-form-field>
    </form>
    <button mat-button type="submit" (click)="addItem()" class="addBtn">
      Add
    </button>
  </div>
</div>
