.container {
  display: flex;
  justify-content: center;
  .wrapper {
    width: 80%;
    .form {
      .form-field {
        display: block;
        input{
          width: 100%;
        }
      }
    }
    .addBtn {
      background-color: rgb(40, 148, 40);
      width: 100%;
      color: whitesmoke;
    }
  }
}
