.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .input-wraper{
        width: 100%;
    }
    .list-wraper{
        width: 500px;
        min-height: 500px;
    }
}