.add-item-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-panel {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 10px 0 10px 0;
  .list-wrapper{
    width: 100%;
  }
  mat-accordion{
    width: 100%;
  }
  .item-container {
    display: flex;
    margin: 0 0 5px 0;
    mat-card {
      border: 1px solid rgb(224, 224, 224);
      cursor: pointer;
    }
    .title {
      width: 100%;
    }
  }
}
