<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-description class="add-item-panel">
        Add Wishes
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="input-wrapper">
      <app-add-item
        [user]="user"
        (addedObjectChanged)="addedObjectHandler($event)"
      ></app-add-item>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion *ngFor="let x of categories">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description class="category-panel">
        <div class="category-title">
          {{ x | titlecase }}
        </div>
        <div *ngIf="itemCounter(x) !== 0" class="amount">
          ( {{ itemCounter(x) }} )
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="wrapper">
      <div class="list-wrapper" *ngFor="let y of wishList">
        <div *ngIf="x == y.category" class="item-container">
          <mat-card class="title" (click)="go(y.link)">
            <h4>{{ y.title }}</h4>
          </mat-card>
          <mat-card class="icon" (click)="openDialog(y._id)">
            <span class="material-icons">clear</span>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
