<mat-accordion *ngFor="let x of categories">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description class="panel">
        {{ x | titlecase }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="wraper">
      <div class="list-wrapper" *ngFor="let y of wishList">
        <div *ngIf="x == y.category" class="item-container">
          <mat-card class="title" (click)="go(y.link)">
            <h4>{{ y.title }}</h4>
          </mat-card>
          <mat-card class="icon" (click)="openDialog(y._id)">
            <span class="material-icons">clear</span>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
